{% extends 'base.html.twig' %}

{% block title %}Admin - my_Burger {% endblock %}

{% block body %}
    <div class="content_category">

    <a href="{{path('admin_NewCategory')}}" class="btn btn-primary"> Edit </a> <br />
    <a href="{{path('admin')}}" class="btn btn-primary"> Retour </a>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for category in allCategories %}
                    <tr>
                        <th scope="row"></th>
                        <td>{{category.name}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
